

/*reset, html, body and background*/

*{
    margin:0; padding:0;
}

html{
    background: #fcd4c2; /* Old browsers */
    background: -moz-linear-gradient(top, #19224f 0%, #e78296 50%, #fcd4c2 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #19224f 0%,#e78296 50%,#fcd4c2 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #19224f 0%,#e78296 50%,#fcd4c2 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcd4c2', 
        endColorstr='#19224f',GradientType=0 ); /* IE6-9 */
}

html, body{
    height:100%;
    width:100%;
}

body{
    background:none;
}

#bentoBox{
    width:70%;
    height:100%;
    margin:0 15%;
}


/*logo, sidebar buttons' styling*/

#header{
    width:40%;
    height:200px;
    padding:50px 0;
}

#logo{
    position:relative;
    float:left;
    width:150px;
    margin-right:10px;
}

#logo img{
    width:100%;
}

#pouchButton{
    position: relative;
    float:left;
    margin-right:10px;
}

#pouchPng{
    height: 50px;
    width: 50px;
}

#infoButton{
    position:relative;
    float:left;
    margin-top:2px;
}

.glyphicon-question-sign{
    font-size:46px;
    color:white;
}


/*clears default styling for buttons*/

button {
    outline: none;
    border: none;
    padding: 0;
    background: none;
}


/*help modal*/

#infoModal{
    display:none;
    position:fixed;
    z-index:1;
    left:0;
    top:0;
    width:100%;
    height:100%;
    overflow:auto;
    background-color:rgb(0,0,0);
    background-color:rgba(0,0,0,0.4);
}

#modalContent{
    background-color:#fff;
    margin:25% 30%;
    padding:20px;
    border:1px solid #888;
    border-radius:20px;
    width:40%;
}

#close{
    color:#aaa;
    float:right;
    font-size:28px;
    font-weight:bold;
}

#close:hover, #close:focus{
    color:black;
    text-decoration:none;
    cursor:pointer;
}


/*map and main container*/

#mainContainer {
  position: absolute;
  margin: auto;
  margin-top:200px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 70%;
  height: 70%;
  border-radius: 20px;
  overflow: hidden;
}

#userPortal {
    position: absolute;
    z-index: 10;
    background: rgba(0,0,0,.5);
    position: absolute;
    margin:auto;
    left:0;
    right:0;
    top:0;
    bottom:0;
    width: 70%;
    height: 70%;
    border-radius: 20px;
}

#logInContainer {
    position: absolute;
    text-align: center;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
}

#map {
    position: absolute;
    width: 100%;
    height: 101%;
    border-radius: 20px;
}   


/*places button*/

#placesbutton {
    position: absolute;
    top: 315px;
    left: 75px;
}

#pokeballpng {
    height: 80px;
    width: 80px;
}


/*pouch*/

#pouch {
    position:relative;
    float:left;
    margin:5% 0 5% 5%;
    width: 450px;
    height: 80%;
    display: none;
    background: rgba(0,0,0,.5);
    border-radius: 20px;
    overflow:hidden;
}

#pouchControls {
    height: 40px;
    margin:10px 0 0 10px;
    color: #fff;
}

#pouchControls button.sortby{
    display: inline-block;
    padding: 2px;
    margin: 10px 5px 0 0;
    background: #777;
    color: #fff;
    border-radius: 5px;
}

#pouchControls button.sortby:hover{ 
    background: #aaa;
}

#pouchControls button.isChecked{
    background: #555
}

#closePouch {
  position:absolute;
  float:right;
  right:28px;
  top:15px;
}

.glyphicon-remove{
    font-size:20px;
    color:white;
}

#div1 {
    margin:0 4%;
    /*padding-top: 20px;*/
    max-height: 90%;
    overflow: auto;
}

#div2 {
    overflow: hidden;
}


/*battle mode*/

#battleMode {
    position: relative;
    float:left;
    margin:5%;
    height: 80%;
    width: 550px;
    background: rgba(0,0,0,.8);
    display: none;
    border-radius:20px;
    overflow:hidden;
}

#closeBattle {
    position: absolute;
    top: 0px;
    right: 15px;
    font-size: 40px;
    color: white;
}

#mainFrame {
    position: absolute;
    margin:auto;
    top: 0;
    left: 0;
    right:0;
    bottom:0;
    background: url('../images/pokebackground.jpg') no-repeat center;
    height: 100%;
    width: 100%;
    content:'';
    display:table;
    clear:both;
}

#attackButton {
    position: relative;
    background: red;
    height: 50px;
    width: 100px;
    margin:2% 2% 2% 2%;
    color: white;
}

#catchButton {
    position: relative;
    background: blue;
    height: 50px;
    width: 100px;
    margin:2% 2% 2% 0;
    color: white;
}


#catch {
  position: relative;
  float:left;
  width: 200px;
  height: 200px;
  margin:;
  border-radius:20px;
}

#user {
  position: relative;
  float:left;
  width: 200px;
  height: 200px;
  margin:;
  border-radius:20px;
}

.pokeBattle {
  height: 150px;
  width: 150px;
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  margin:auto;
}

.hp{
  width:25px;
  margin:0 3% 3% 0;
}

h2:nth-child(3){
  position:relative;
}

h3:last-child{
  position:relative;
}

/*pokemon selectors*/

#pokemonCollection {
  width:90%;
}

.pokeSelectorButton {
    background: white;
    margin: 10px;
    border-radius: 8px;
    min-height: 120px;
    width: 150px;
}

.poke {
    height: 100px;
    width: 100px;
}

.button__wrap {
  position: relative;
  background: white;
  float: left;
  border: none;
  border-radius: 8px;
  margin: 10px;
  width: 100px;
  height: 100px;
}

.button__description {
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 8px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  color: #fff;
  visibility: hidden;
}

.button__wrap:hover .button__description {
  visibility: visible;
  opacity: 1;
  background: rgba(173,0,0,.5);
  transition: box-shadow 0.3s ease-in-out;
  transition: 1s;
}

/*isotope*/

.sortby {
  background: black;
  color: white;
}

/*media queries for web responsivity*/

@media only screen and (max-width: 1500px){
  #bentoBox{
      width:80%;
      margin:0 10%;
  }
  #mainContainer{
      width:80%;
  }
}

/*tablets/half-screen browser view*/
@media only screen and (max-width: 800px) {
  #header{
    width:60%;
  }
  #pouch{
    width:525px;
    padding:0;
    margin:auto;
  }
  #div1{
    margin:auto;
  }
}

/*mobile view*/
@media only screen and (max-width: 400px) {
  #mainContainer{
    height:50%;
  }
}