

/*reset, html, body and background*/

*{
    margin:0; padding:0;
    box-sizing: border-box;
}

html{
    background: #fcd4c2; /* Old browsers */
    background: -moz-linear-gradient(top, #19224f 0%, #e78296 50%, #fcd4c2 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #19224f 0%,#e78296 50%,#fcd4c2 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #19224f 0%,#e78296 50%,#fcd4c2 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcd4c2', 
        endColorstr='#19224f',GradientType=0 ); /* IE6-9 */
}

html, body{
    height:100%;
    width:100%;
}

body{
    background:none;
}

#bentoBox{
    width:80%;
    height:100%;
    margin:0 10%;
}


/*logo, sidebar buttons' styling*/

#header{
    width:40%;
    height:110px;
    padding: 15px 0;
}

#logo{
    position:relative;
    float:left;
    width:150px;
    margin-right:10px;
}

#logo img{
    width:100%;
}

#pouchButton{
    position: relative;
    float:left;
    margin:12px 10px 0 0;
}

#pouchPng{
    height: 50px;
    width: 50px;
}

#infoButton{
    position:relative;
    float:left;
    margin-top:14px;
}

.glyphicon-question-sign{
    font-size:46px;
    color:white;
}


/*all buttons, gets rid of default styling*/

button {
    outline: none;
    border: none;
    padding: 0;
    background: none;
}


/*information modal*/
#modalBox {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 20%;
  bottom: 0;
}

#infoModal{
    display:none;
    position:fixed;
    z-index:1;
    left:0;
    top:0;
    width:100%;
    height:100%;
    overflow:auto;
    background-color:rgb(0,0,0);
    background-color:rgba(0,0,0,0.4);
}

#modalContent{
    background-color:#fff;
    margin:25% 30%;
    padding:20px;
    border:1px solid #888;
    border-radius:20px;
    width:40%;
}

.closer{
    position:absolute;
    float:right;
    right:28px;
    top:15px;
    color:#aaa;
    font-size:28px;
    font-weight:bold;

}

.closer:hover, .closer:focus{
    color:black;
    text-decoration:none;
    cursor:pointer;
}


/*All other modals*/

.modal2 {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: none;
  z-index: 15;
  background: white;
  width: 430px;
  height: 180px;
  color: black;
  border-radius: 20px;
  padding:20px;
  text-align:center;
}


/*centers map and main container*/

#mainContainer {
  position: relative;
  margin: auto;
  width: 80%;
  height: calc(100% - 110px);
  background-color: black;
  border-radius: 20px;
  overflow: hidden;
}

#map {
    position: absolute;
    width: 100%;
    height: 101%;
    border-radius: 20px;
}   


/*styling for user portal*/

#userPortal {
  position: absolute;
  z-index: 10;
  background: rgba(0,0,0,.5);
  position: absolute;
  margin:auto;
  left:0;
  right:0;
  top:0;
  bottom:0;
  width: 70%;
  height: 70%;
  border-radius: 20px;
}

#logInContainer {
  position: absolute;
  text-align: center;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
}

.input-group{
  margin-bottom:20px;
}

#sel1{
  height:34px;
}

#submit{
  color:;
}

/*places button*/

#placesbutton {
    position: absolute;
    top: 315px;
    left: 75px;
}

#pokeballpng {
    height: 80px;
    width: 80px;
}


/*pouch div*/

#pouch {
    position: relative;
    float:left;
    margin:5% 0 5% 2.5%;
    max-width: 550px;
    min-width: 400px;
    height: 85%;
    width: 60%;
    display: none;
    background: rgba(0,0,0,.5);
    border-radius: 20px;
    overflow:hidden;
    z-index: 10;
}

#pouch.pushed {
  width: calc(95% - 550px);
}

#pouchControls {
    height: 40px;
    margin:10px 0 0 10px;
    color: #fff;
}

#pouchControls button.sortby{
    display: inline-block;
    padding: 2px;
    margin: 10px 5px 0 0;
    background: #777;
    color: #fff;
    border-radius: 5px;
}

#pouchControls button.sortby:hover{ 
    background: #aaa;
}

#pouchControls button.isChecked{
    background: #555
}

#closePouch {
  position:absolute;
  float:right;
  right:28px;
  top:15px;
}

.glyphicon-remove{
    font-size:20px;
    color:white;
}

#div1 {
    position:relative;
    margin-left:3%;
}

#div2 {
    overflow: hidden;
}


/*pokemon selectors*/

#pokemonCollection {
  height: 490px !important;
  position: relative;
}

.pokeSelectorButton {
  background: white;
  margin: 10px;
  border-radius: 8px;
  min-height: 120px;
  width: 150px;
}

.poke {
    height: 100px;
    width: 100px;
}

.button__wrap {
  position: relative;
  background: white;
  float: left;
  border: none;
  border-radius: 8px;
  margin: 10px;
  width: 100px;
  height: 100px;
}

.button__description {
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 8px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  color: #fff;
  visibility: hidden;
}

.button__wrap:hover .button__description {
  visibility: visible;
  opacity: 1;
  background: rgba(173,0,0,.5);
    transition: box-shadow 0.3s ease-in-out;
    transition: 0.3s;
}


/*battle mode*/

#battleMode {
    position: relative;
    float:left;
    margin:5% 0 5% 2.5%;
    height: 85%;
    min-width: 400px;
    max-width: 550px;
    width: 60%;
    background: rgba(0,0,0,.8);
    display: none;
    border-radius:20px;
    overflow:hidden;
}

/*#battleMode h2.attack {
    position: absolute;
    bottom: 0;
    right: 0;
}*/

/*#battleMode h3 {
  position: absolute;
  bottom: 0;
  left: 0;
}*/

#closeBattle {
    position: absolute;
    top: 0px;
    right: 15px;
    font-size: 40px;
    color: white;
}

#mainFrame {
    position: absolute;
    padding-top:8%;
    top: 0;
    left: 0;
    right:0;
    bottom:0;
    background: url('../images/pokebackground.jpg') no-repeat center;
    background-size:cover;
    height: 100%;
    width: 100%;
    content:'';
    display:table;
    clear:both;
}

#attackButton {
    position: absolute;
    bottom: 0;
    left: 180px;
    background: red;
    height: 50px;
    width: 100px;
    margin:2%;
    color: white;
}

#catchButton {
    position: absolute;
    bottom: 0;
    left: 290px;
    background: blue;
    height: 50px;
    width: 100px;
    margin:2%;
    color: white;
}

#berriesButton {
   display: inline-block;
   height: 100px;
   width: 100px;
   color: white;
}

#berry {
  display: inline-block;
  width: 100%;
  height: 100%;
}

h2.hp, h2.attack {
  display: inline;
  font-size: 18px;
  margin-left: 15px;
  margin-bottom: 0px;
}

#catch h3, #user h3{
  position: absolute;
  font-size: 20px;
  text-transform: capitalize;
  left: 1.5em;
  bottom: 0;
}

#catch {
  position: absolute;
  top: 0;
  right: 0;
  width: 200px;
  height: 165px;
  margin-top:2%;
}

#user {
  position: absolute;
  bottom: 0;
  left: 15px;
  width: 200px;
  height: 165px;
  margin-bottom: 2%;
}

.pokeBattle {
  height: 150px;
  width: 150px;
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  margin:0 auto;
  z-index:5;
}

img.hp{
  width:16px;
  margin:0 1% 0 0;
  margin-left:-16px;
}

img.attack{
  position:relative;
  float:left;
  margin-top:0;
}

h3:last-child{
  position:relative;
  clear:left;
}

.battlePlat{
  position:absolute;
  bottom:35px;
  left:25px;
  z-index:3;
}

/*isotope*/

.sortby {
  background: black;
  color: white;
}


/*media queries for responsivity*/
@media only screen and (max-width: 1800px) {
  #bentoBox{
    width:90%;
    margin:0 5%;
  }
  #mainContainer{
    width:80%;
  }
  #header{
    width:60%;
  }
}

@media only screen and (max-width: 1245px) {
  #bentoBox{
    width:100%;
    margin:0 0;
  }
  #mainContainer{
    width:100%;
  }
  #header{
    width:60%;
  }
  #div1{
    width: 98%;
    margin: 2%;
  }
  #mainFrame{
    padding-top:0;
    width: 100%;
  }
}

@media only screen and (max-width: 1075px){
  #mainContainer{
    width: 100%
  }
  #header{
    width: 100%;
  }
  #pouch.pushed{
    position: absolute;
    top: 0;
    right: 0;
    min-width: 200px;
  }
  #battleMode{
    margin:5% 0 5% 0;
  }
}